rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registeredMembers/{document=**} {
      allow read, write: if true;
    }
    match /batches/{document=**} {
      allow read, write: if true;
    }
    match /notices/{document=**} {
      allow read, write: if true;
    }
  }
}
